@activity-max-height: 300px;

.time-container {
  background-color: #ddd;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 2px;
  display: inline-block;
}

.nav-title{
  padding: 0.5rem 1rem 0.5rem 0;

  &.view-action {
    width: 55px;
  }
}

.view-in-ts {
  padding-top: 13px;

  &.end {
    padding-top: 8px;
    padding-bottom: 15px;
  }
}

.external-link-icon {
  font-size: 8px;
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;

  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;

    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}

.scrollable-container {
  max-height: @activity-max-height;
  overflow-y: scroll;
  border: 1px solid #dee2e6;
  padding: 5px;
  border-radius: 3px;
  margin-top: 3px;
}

.paging-container {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 3px 15px 3px 15px;
  box-shadow: 0px -4px 5px rgba(50, 50, 50, 0.2);
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -10px;

  .next-hit-button {
    width: 20px;

    &:hover {
      color: darken(#7bc942, 15%);
    }

    &:active {
      color: darken(#7bc942, 30%);
    }
  }
}

div.fields-table {
  font-size: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 500px;
  margin-bottom: 10px;
  line-height: 1em;

  table {
    thead {
      display: none;
    }

    tbody {
      td {
        border-bottom: 1px solid rgb(217, 217, 217);
      }

      tr:nth-child(odd) {
        background-color: #fff;
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }

      td:first-child {
        min-width: 35%;
        width: 35%;
      }
    }
  }
}

div.activity-tab-container {
  margin-top: 5px;
  max-height: @activity-max-height;
  overflow-y: scroll;
}

div.json-block {
  .string {
    color: #d14;
  }

  .number {
    color: #008080;
  }

  .boolean {
    color: #008080;
  }

  .null {
    color: #008080;
  }

  .key {
    color: #333;
  }
}