.time-container {
  background-color: #ccc;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 2px;
  display: inline-block;
}

.view-in-ts {
  padding-top: 13px;
  &.end {
    padding-top: 8px;
    padding-bottom: 15px;
  }
}

.external-link-icon {
  font-size: 8px;
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;
    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}

.no-style-button {
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    background: inherit;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }
}

.hide {
  visibility: hidden !important;
  &.no-style-button {
    cursor: default;
    height: 4px;
  }
}

.operation-button {
  .operation-button-icon {
    color: #9e9e9e;
  }
  cursor: pointer;
  margin-right: 8px;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    background: inherit;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }
}

.copy-button {
  width: 22px;
  border-radius: 20px;
  &:hover,
  &:focus {
    background: inherit;
    .header-button-icon {
      color: #1976d2;
    }
    background-color: rgba(153, 153, 153, 0.2);
    border-color: rgba(153, 153, 153, 0.2);
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:active {
    cursor: pointer;
    .header-button-icon {
      color: #fff;
    }
    background-color: #145ca4;
    border-color: #125699;
    transform: none;
  }
}
