.time-container {
  background-color: #ccc;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 2px;
  display: inline-block;
}

.view-in-ts {
  padding-top: 13px;
  &.end {
    padding-top: 8px;
    padding-bottom: 15px;
  }
}

.external-link-icon {
  font-size: 8px;
}

.expandable-title {
  display: block;
  color: #5ccd18 !important;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
  .text {
    color: #5ccd18 !important;
    border-bottom: 1px solid #5ccd18;
    .desc {
      color: black !important;
      font-weight: 400 !important;
    }
  }
}